body{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    text-align: center;
    justify-content: center;
   min-height: 100vh;
   background-image: linear-gradient(to bottom right, rgb(248, 241, 241),rgb(231, 238, 237), rgb(245, 246, 234),rgb(136, 232, 224), rgb(88, 140, 223), rgb(31, 12, 136));
  
  }
   form{
       position:relative;
      justify-content: center;
      text-align: center;
   }
   #header{
   color: rgb(22, 19, 19);

   }
  
  #label1{
    
      background-color: rgb(62, 155, 237);
      border-radius:7px;
      font-size:x-large;
      border: 2px solid white;
      font-family: 'Gloria Hallelujah', cursive;
  }
  #label2{
      background-color: rgb(232, 215, 65);
      border-radius:7px;
      font-size:x-large;
      border: 2px solid white;
      font-family: 'Gloria Hallelujah', cursive;
  }
  #label3{
      background-color: rgb(233, 11, 11);
      border-radius:7px;
      font-size:x-large;
      border: 2px solid white;
      font-family:  'Gloria Hallelujah', cursive;
  }
   input {
   margin-top: 30px;
    font-size: x-large;
    border-radius: 20px;
    padding :10px 50px 10px 50px;
    background-color: rgb(14, 218, 14);
    border: 4px solid white;
    font-family: 'Gloria Hallelujah', cursive;
  }

  #channelID, #nr, #fileName{
    margin-top: 10px;
    width: 250px;
    background-color: rgb(244, 240, 240);
    border: 2px solid white ;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-size: large;
  }
  #channelID{
    border: 2px solid  rgb(62, 155, 237); ;
  }
  #nr{
    border: 2px solid rgb(232, 215, 65); ;
  }
  #fileName{
    border: 2px solid  rgb(233, 11, 11);;
  }input {
    margin-top: 40px;
    width: 300px;
  }
  #tap1, #tap2,#tap3{
    margin-top: 20px;
  }
legend{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 40px;

}