body{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    text-align: center;
    justify-content: center;
   min-height: 100vh;
   background-image: linear-gradient(to bottom right, rgb(248, 241, 241),rgb(231, 238, 237), rgb(239, 243, 204),rgb(216, 232, 215), rgb(224, 250, 167), rgb(220, 109, 29), rgb(220, 83, 20));
  
  }
   form{
       position:relative;
      justify-content: center;
      text-align: center;
   }
   
  
  #query{
    
      background-color: rgb(222, 230, 237);
      border-radius:20px;
      font-size:x-large;
      border: 5px solid rgb(77, 163, 217);
      font-family:'Courier New', Courier, monospace;
      text-align: center;
    width: 500px;
    min-width: 50px;
    height: 100px;
    color: rgb(40, 4, 246);
      
  }


  #tap1{
 margin-bottom: 20px;
  
  }
legend{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 40px;

}
#send{

    width: 120px;
    height:50px;
    border-radius: 10px;
    background-color: rgb(60, 238, 60);
    font-family:'Gloria Hallelujah', cursive;
    font-size: larger;
    border: 4px solid  rgb(77, 163, 217);
}